@model int?

<h1>Correo de confirmacion</h1>
<h4>Su Codigo de empleado es @Model</h4>
<p>Para verificar su cuenta por favor confirme en el siguiente boton</p>
<a href="http://localhost:60920/Usuarios/ActivarUsuario" class="btn btn-success">Confirmar</a>