
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <canvas id="MyChart"></canvas>
</div>
<script src="~/Scripts/dist/Chart.min.js"></script>
<script src="~/Scripts/VistaScripts/Index.js"></script>
